* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#header {
    height: 13%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 70%;

}

#logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texts {

    color: rgb(2, 2, 113);
    display: flex;
}

.texts:hover {
    color: rgb(0, 176, 211);
}

#contactDetails {
    font-size: light;
}

#contactDetails p {
    line-height: 1.5px;
}
#contactDetails #contact:hover{
    color: rgb(0, 176, 211);
}
.icon {

    padding: 10px;
    border-radius: 50%;
}

.icon:hover {
    color: #0176D3;
    background-color: lightblue;
}

#login {
    padding: 15px;
    border-radius: 50%;

}

#login:hover {
    color: #0176D3;
    background-color: lightblue;
}

#try {
    background-color: green;
    padding: 10px 20px;
    font-size: large;
    color: white;
}

#try:hover {
    background-color: rgb(1, 74, 1);
}

#HiddenHeader {
    height: 13%;
    width: 100%;
}

#page1 {
    height: 87%;
    width: 100%;

}

#strip {
    width: 100%;
    height: 8%;
    background-color: rgb(0, 0, 91);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px;
    font-weight: bold;
    padding: 12px 24px;
    
}

#strip u {
    font-weight: lighter;
    margin-left: 20px;
}

#content {
    width: 100%;
    height: 76%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1 {
    height: 90%;
    width: 42%;
    background-color: white;
    margin-left: 60px;

}

#box2 {
    height: 90%;
    width: 47%;
    background-color: gray;
    background-image: url("Screenshot\ 2024-08-05\ 101405.png");
    background-size: cover;
}

#heading {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #032d60;


}

#heading h1 {
    font-weight: 600;
    font-size: xx-large
}

#box1 h1 {
    font-weight: 600;
    color: rgb(0, 0, 91);
    font-size: 50px;
    margin: 30px 10px;
}

#box1 p {
    font-weight: lighter;
    color: rgb(0, 0, 91);
    font-size: x-large;
    margin: 30px 10px;
}

#btns {
    display: flex;

}

#btn1 {
    width: 33%;
    padding: 10px 32px;
    color: white;
    background-color: #0176D3;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
   font-size: large;
   font-weight: 400;
}

#btn1:hover {
    background-color: #102d44;
}

#btn2 {
    width: 23%;
    padding: 10px 25px;
    color: #0176D3;
    border: 1px solid lightblue;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: large;
   font-weight: 400;
}

#btn2:hover {
    background-color: lightblue;
    color: rgb(0, 67, 90);
    border-color: rgb(0, 67, 90);
}


#page2 {
    height: 87%;
    width: 100%;
    background-color: white;
}


#card1 {
    height: 440px;
    width: 330px;
    margin: 20px 10px;
    background-color: white;
    display: inline-block;
    margin: 100px 20px 100px 40px;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#card1 .title h3 {
    margin-top: 20px;
    font-size: 500;
    font-weight: 700;
    color: darkblue;
}

#card1 .title h3:hover {
    color: #0176D3;
}

.title,
.description,
.Learn {
    text-align: justify;
    padding: 10px;
    font-weight: 50;
    margin: 0px 30px
}

.description {
    letter-spacing: 1.2px;
}

.Learn {
    text-decoration: underline;
    margin-top: 35px;
}
#card2 {
    height: 440px;
    width: 330px;
    background-color: white;
    display: inline-block;
    margin: 100px 20px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#card2 .title h3 {
    margin-top: 20px;
    font-size: 500;
    font-weight: 700;
    color: darkblue;
}

#card2 .title h3:hover {
    color: #0176D3;
}

.title,
.description,
.Learn {
    text-align: justify;
    padding: 10px;
    font-weight: 50;
    margin: 0px 30px
}

.description {
    letter-spacing: 1.2px;
}

.Learn {
    text-decoration: underline;
    margin-top: 35px;
}


#card3 {
    height: 440px;
    width: 330px;
    background-color: white;
    display: inline-block;
    margin: 100px 20px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    line-height: 15px;

}

#card3 .title h3 {
    margin-top: 20px;
    font-size: 500;
    font-weight: 700;
    color: darkblue;
}

#card3 .title h3:hover {
    color: #0176D3;
}

.title,
.description,
.Learn {
    text-align: justify;
    padding: 10px;
    font-weight: 50;
    margin: 0px 30px
}

.description {
    letter-spacing: 1.2px;
}

.Learn {
    text-decoration: underline;
    margin-top: 35px;
}

.Learn:hover {
    color: #0176D3;
}

#card4 {
    line-height: 15px;
    height: 440px;
    width: 330px;
    background-color: white;
    display: inline-block;
    margin: 100px 20px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

}

#card4 .title h3 {
    margin-top: 20px;
    font-size: 500;
    font-weight: 700;
    color: darkblue;
}

#card4 .title h3:hover {
    color: #0176D3;
}

.title,
.description,
.Learn {
    text-align: justify;
    padding: 10px;
    font-weight: 50;
    margin: 0px 30px
}

.description {
    letter-spacing: 1.2px;
}

.Learn {
    text-decoration: underline;
    margin-top: 35px;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    color: #0176D3;
    border: 2px solid #0176D3;
    font: 16px;
    font-family: sans-serif;
    background-color: #ffffff;
    margin-left: 660px;
    margin-bottom: 80px;
}

#btn:hover {
    background-color: lightblue;
    color: rgb(0, 67, 90);
    border-color: rgb(0, 67, 90);
}